* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: clip;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  text-decoration: none;
}

a:active {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #131313;
  /* Background color for the entire page */
  color: #fff;
  /* Default text color to contrast with background */
}

.navbar {
  background-color: #131313;
  /* Background color for the navbar */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  /* White color for brand text */
}

.nav-link {
  font-size: 23px;
  color: #fff;
  /* White color for nav links */
}

.nav-link:hover {
  color: #ddd;
  /* Light color on hover for better UX */
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 30px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.btn-close {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.btn-close:hover {
  color: #ddd;
}

.offcanvas-end {
  background-color: #131313;
  color: #fff;
}

.offcanvas-header {
  border-bottom: 1px solid #444;
}

.offcanvas-body {
  color: #fff;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    display: none !important;
    color: #fff;
  }

  .offcanvas-end {
    width: 50% !important;
    max-width: none !important;
    text-align: center;
  }
}


.logo {
  padding-top: 23px;
  font-family: 'Noto Serif Balinese', serif;
}

.logo a {
  text-decoration: none;
  font-family: 'Noto Serif Balinese', serif;

}

.logo a:hover {
  color: lightgray;
}

.img {
  display: block;
  text-align: center;
  background-color: #131313;
  overflow-x: hidden;
  padding-top: 30px;
}

.intro {
  color: #fff;
  align-content: center;
  justify-content: center;
  font-size: larger;
  display: grid;
  background-color: #131313;
  overflow-x: hidden;
}

.social {
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 110px;
  color: #fff;
  background-color: #131313;
  text-decoration: none;
  overflow-x: hidden;
}

.social {
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 110px;
  color: #fff;
  background-color: #131313;
  text-decoration: none;
  overflow-x: hidden;
}

.fa-facebook {
  color: white;
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

.fa-twitter {
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  color: white;
  text-decoration: none;
}

.fa-linkedin {
  color: white;
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

.fa-instagram {
  color: white;
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

.fa-github {
  color: white;
  width: 50px;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

#About {
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  line-height: 5px;
  overflow-x: hidden;
}

#Basic {
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  font-size: medium;
  overflow-x: hidden;
}

#Projects {
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  font-size: medium;
  overflow-x: hidden;
}

#Skills {
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  font-size: medium;
  overflow-x: hidden;
}

#Email {
  padding-left: 50px;
  padding-right: 50px;
}

#Phone {
  padding-left: 50px;
  padding-right: 50px;
}

#Edu {
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  line-height: 5px;
  height: max-content;
  display: grid;
  overflow-x: hidden;

}

#Intern {
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  font-size: medium;
  overflow-x: hidden;
}

.timeline {
  border-right: 4px solid #004ffc;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  margin: 25px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 25px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 90%;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}


.timeline1 {
  border-left: 4px solid #04aa6e;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  margin: 25px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 25px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 90%;

}

.timeline1 .event1 {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);

  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

.timeline1 .event1:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.button-23 {
  background-color: darkgray;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 13px 23px;
  text-align: center;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  width: max-content;
}

.button-23 a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
}

.button-23:hover {
  color: #131313;
  background-color: #fff;
  font-weight: bold;
  text-decoration: none;
}