
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;  
   overflow-x: clip;
}
a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff; 
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
} 
a:active {
  color: #fff;  
  text-decoration: none;
}

  nav{
    display: flex;
    height: 80px;
    background-color:#131313;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active, nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding-left: 15%;
      display: flex;
      justify-content: space-between;
      position: fixed;
  
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
     display: block;
     padding-left: 20px;
  background-color: #131313;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      overflow-x: hidden;
      margin-left: -100%;
      display: fixed;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: white;
    }
  }
  .img{
    display: block;
text-align: center;
background-color: #131313;
overflow-x: hidden;
}
.intro{
    color: #fff;
    align-content: center;
    justify-content: center;
    font-size: larger;
    display:grid;
    background-color: #131313;
    overflow-x: hidden;
}
.social{
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 110px;
    color: #fff;
    background-color: #131313;
    text-decoration: none;
    overflow-x: hidden;
}
.fa-facebook {
    color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    text-decoration: none;
  }
  
  .fa-twitter {
    width: 50px;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    color: white;
    text-decoration: none;
  }
  
.fa-linkedin {
    color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    text-decoration: none;
  }
  
  .fa-instagram {
    color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    text-decoration: none;
  }
  .fa-github {
    color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    text-decoration: none;
  }
  #About{
    color: #fff;
    background-color: #131313;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    line-height: 5px;
    overflow-x: hidden;
  }
  #Basic{
    color: #fff;
    background-color: #131313;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size: medium;
    overflow-x: hidden;
  }
  #Projects{
    color: #fff;
    background-color: #131313;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size: medium;
    overflow-x: hidden;
  }
  #Skills{
    color: #fff;
    background-color: #131313;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    font-size: medium;
    overflow-x: hidden;
  }
#Email{
    padding-left: 50px;
    padding-right: 50px;
}
#Phone{
    padding-left: 50px;
    padding-right: 50px;
}


  .button-2 {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    border-radius: 10px;
    color: #fff;
    width: 120px;
    height: 55px;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
  }
  .button-2:hover{
color: #131313;
background-color: #fff;
  }
#contact a{
color: #fff;
text-decoration: none;
}
#contact{
  color: #fff;
  text-decoration: none;
}

.button-23 {
  background-color: darkgray;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 13px 23px;
  text-align: center;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  width: max-content;
}

.button-23 a {
color: #111;
font-weight: bold;
text-decoration: none;
}
.button-23:hover{
  color: #131313;
  background-color: #fff;
  font-weight: bold;
  text-decoration: none;
}
#Edu{
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  line-height: 5px;
height: max-content;
}
#Intern{
  color: #fff;
  background-color: #131313;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  font-size: medium;
  overflow-x: hidden;
}
.timeline {
  border-right: 4px solid #004ffc;
  background: rgba(255,255,255,0.03);
  color: rgba(255,255,255,0.8);
  margin: 25px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 25px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 90%;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255,255,255,0.1);
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}


.timeline1 {
  border-left: 4px solid #04aa6e;
  background: rgba(255,255,255,0.03);
  color: rgba(255,255,255,0.8);
  margin: 25px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 25px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 90%;
}
.timeline1 .event1 {
  border-bottom: 1px dashed rgba(255,255,255,0.1);
  
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.timeline1 .event1:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}